/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  min-width: 400px;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #864fe1, #1797d2, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

p {
  margin: 0;
}



